node-red/node-red-data/.flows.json.backup
[{"id":"533c6a3a.7ffe74","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bdc736e0.877e18","type":"inject","z":"533c6a3a.7ffe74","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":240,"wires":[["168839eb.b85d26"]]},{"id":"d65cc98.5d43938","type":"debug","z":"533c6a3a.7ffe74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":240,"wires":[]},{"id":"168839eb.b85d26","type":"function","z":"533c6a3a.7ffe74","name":"","func":"// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":240,"wires":[["d65cc98.5d43938"]]}]